<head>
    <script type="text/javascript" src="/data/Workspace/SysMo/smo-blog/scalajs/target/scala-2.13/sysmo-web-blog-fastopt/main.js"></script>
</head>
<body>
    <div id="template-app">Starting</div>
</body>
